
                    <div id="chart-employment" style="height: 16rem"><%= column_chart @ha, library: {plugins: {
                           datalabels: {
                            clamp: true,
                            align: 'end',
                            anchor: 'end',
                            font: {
            			weight: 'bold'
            
        }  
                            
                          }
        }},download: {background: "#ffffff"} ,min: 0, max: 50%></div>
                 
                 