
<div class="my-3 my-md-5">
          <div class="container">
            <div class="page-header">
              <h1 class="page-title">
               
              </h1>
            </div>

  <div class="row row-cards">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Servicios Realizados</h3>
                  </div>
                  <div class="card-body">
                  
                    <div id="chart-employment" style="height: 16rem"><%= column_chart @ha, library: {plugins: {
                           datalabels: {
                            clamp: true,
                            align: 'end',
                            anchor: 'end',
                            font: {
            			weight: 'bold'
            
        }  
                            
                          }
        }},min: 0, max: 50%></div>
                  </div>
                </div>
             
              </div>
            
           
           
              
            </div>
          </div>
           </div>

